.container{
	margin: 0 auto;
	border: 1px solid #F0F0F0;
	box-shadow: 0px 0px 5px #f7f7f7;
	padding: 10px;
	border-radius: 4px;
	width: 60%;
	box-shadow: 0px 0px 10px #4C4B4B;
}
#cabecera{
	width: 99%;
	height: 4%;
}
#cabecera img{
	height: 220px;
	width: 150px
}
#cabecera h1{
	margin-left: 15%;
	margin-top: -5%;
	text-shadow:2px 2px 3px white,
	-2px -2px 3px white;
	color: #F9882D;
}
#cabecera a{
	text-decoration:none;  
	color: #F9882D;
}
#cuerpo nav ul li{
	margin-left: 8%;
	display: inline-block;
	text-align: center; 
	padding:1%;
	color: #FFFFFF;
	

}
#cuerpo nav{
	background-color: #F9882D;
	border-radius: 4px;
	position: relative;
}
.linea a{
	color: #FFFFFF;
	text-decoration:none;
}
nav > li{
	float: left;
}
nav li a {
	text-decoration:none;
	display:block;
}
			
nav li a:hover {
	background-color:#FCFCFC;
	color: #F7750C;
}
nav li ul {
	display:none;
	position:absolute;
	min-width:140px;
	background-color: #F9882D;
}

nav li:hover > ul {
	display:block;
	border-radius: 10px;
	margin-top: 15px;
	float: left;
}

nav li ul li {
	position:relative;
	float: left;

}
.nav2{
	width: 8%;
	 
  z-index: 999;
}


#primero {
	background-color: #ECECEC;
	padding: 4px;
	width: 99.5%;
	border-radius: 4px;
}
#primero h3{
	color: #F9882D;
}
#primero1{
	float: right;

	margin-top: -4%;
	margin-right: 6%;
	border-right: 1px solid #FFFFFF;
	padding-right: 10px;
}
#primero1 a{
	color: #626262;
	padding-top: 0.5px;
}
#primero1 img{
	width: 30px;
	height: 30px;
}
#primero2{
	float: right;
	margin-top: -4%;
	padding-right: 10px;
}
#primero2 img{
	width: 30px;
	height: 30px;
}
#segundo{
	clear: both;
	margin-top: 2%;
	width: 70%;
	position: relative;
}
#slider{
	border-radius:10px;
	width: 92%;
	min-height: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	padding:0px;
}
.elemento{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100px;
}
#tabla{
	width: 99%;
}
#tabla table{
	padding-top: 30px;
	width: 99%;
	text-align: center;
}
#tabla table td{
	border: 1px solid #C1BBBB;
	width: 235px;
	height: 205px;
	padding: 20px;
	box-shadow: 0px 0px 10px #FA8E01;
}
#tabla table td a{
	text-decoration: none;
}
#table table tr td a img{
	width: 100px; height: 100px;
}
.oferta{
	background-color: #ECECEC;
	padding-left: 10px;
	width: 50%;
	height: 1%;
	border-radius: 10px;
	padding-top: 0.5px;
}
.oferta h3{
	color: #F9882D;
}
.titulos{
	color: #F9882D;
}
#tercero{
	width: 92%;	
	padding-bottom: 20%;

}
.imagen{
	clear: both;
	width: 10%;
	padding: 5%;
	margin-top: 20px;
}
.info{
	clear: both;
	width: 60%;
	float: right;
	margin-top: -30%;
	padding-right: 10px;
}
#detalles td{
	padding: 1%;
	width: 1%;
}
#carrito input{
	width: 50px;
}
#sesion{
	width: 99%;
	padding: 1%;
}
#registro{
	clear: both;
	width: 55%;
	padding: 0.5%;
	border: 1px solid black;
	border-radius: 1%;
}
#iniciosesion{
	float: right;
	width: 35%;
	padding: 0.5%;
	border: 1px solid black;
	border-radius: 1%;
	margin-top: -44.7%;
}
.cambio{
	display: none;
}





